<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="icon" type="image/x-icon" th:href="@{/js/angular/favicon.ico}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/js/angular/styles.css}"/>

    <title>Spring Angular SPA Thymeleaf</title>
</head>
<body>
    <div>
        <app-root></app-root>
        <script th:src="@{/js/angular/scripts.js}" type="text/javascript"></script>
        <script th:src="@{/js/angular/runtime.js}" type="text/javascript"></script>
        <script th:src="@{/js/angular/polyfills.js}" type="text/javascript"></script>
        <script th:src="@{/js/angular/main.js}" type="text/javascript"></script>
    </div>
</body>
</html>
